<div class="main-dummy-content">
    <app-navbar></app-navbar>
    <div class="dummy-component">

        <div class="card flex justify-center gap-5 p-5" style="display: flex; flex-direction: column; gap: 24px; padding: 16px;">

            <h2>Sample Form</h2>

            <p-floatlabel>
                <input id="username" pInputText />
                <label for="username">Username</label>
            </p-floatlabel>

            <p-floatlabel>
                <input id="username" pInputText />
                <label for="username">Username</label>
            </p-floatlabel>

            <p-floatlabel>
                <input id="username" pInputText />
                <label for="username">Username</label>
            </p-floatlabel>
            
            <p-button>Something</p-button>
        </div>

        <p-divider></p-divider>

        <app-assets-type></app-assets-type>

        <p-divider></p-divider>
    
        <app-add-asset-type></app-add-asset-type>
        <p-divider></p-divider>
        
        <app-faq></app-faq>
        <p-divider></p-divider>
        
        <app-users></app-users>

    </div>

</div>

<div>
    <app-footer></app-footer>
</div>