<div class="portifolio-page" style="display: flex; flex-direction: column; gap: 5px; padding: 8px;">
    
    <div>
        <h2>Portfolio Page</h2>
    </div>

    <p-toolbar styleClass="mb-6" [style]="{'margin-bottom': '1.5rem'}">
        <ng-template #start>
            <p-button label="New" icon="pi pi-plus" class="mr-2"  />
        </ng-template>

        <ng-template #end>
            <p-button icon="pi pi-refresh" iconPos="bottom" (click)="loadData()" severity="secondary" />
        </ng-template>
    </p-toolbar>

    <p-table [columns]="cols" [value]="portfolios" responsiveLayout="stack">

        <!-- <ng-template #caption>
            <div class="flex items-center justify-between" style="display: flex; justify-content: space-between; align-items: center; ">
                <span class="text-xl font-bold" style="font-size: 1.25rem;line-height: 1.75rem; font-weight: 700; ">Portfolios</span>
            </div>
        </ng-template> -->

        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
                <th>
                    Action
                </th>
            </tr>
        </ng-template>


        <ng-template #body let-portfolio let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    
                    @if (col.field !== 'user') {
                        {{ portfolio[col.field]}}
                    } @else {
                        {{ portfolio[col.field].username}}
                    }
                </td>
                <td>
                    <p-button severity="info" icon="pi pi-pencil" />
                    <p-button severity="danger" icon="pi pi-trash" />
                    
                    <!-- passing the portfolio object -->
                     <!-- will be very useful for edit -->
                    <p-button icon="pi pi-search" (click)="showPortfolio(portfolio)" severity="secondary" rounded />
                    
                </td>
            </tr>

        </ng-template>

        <ng-template #footer>
            In total there are {{ portfolios ? portfolios.length : 0 }} portfolios.
        </ng-template>

    </p-table>
</div>