<div class="card">
    <p-table [columns]="cols" [value]="assetsType" showGridlines stripedRows [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    
                    @if (col.field == 'createdDate' || col.field == 'modifiedDate') {
                        {{ rowData[col.field] | date:'hh:mm:ss dd/MM/yyyy':'UTC' }}
                    } @else {
                        {{ rowData[col.field] }}
                    }

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>