/* You can add global styles to this file, and also import other style files */

/* :root {
    --ground-color: var(--p-surface-50);
} */

@import "primeicons/primeicons.css";


@font-face {
    font-family: 'Roboto'; /* Replace with the actual font name */
    src: url('../src/assets/fonts/Roboto.ttf') format('truetype');
    font-weight: 100 900; /* Example weight range */
}

:root {
    --ground-color: var(--p-surface-50);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    /* background-color: var(--ground-color); */

}

h1 {
    font-family: 'Roboto', sans-serif;
}