<div class="portfolio-details">
    <h4>My Portfolio {{ portfolioId()}} <i class="pi pi-wallet"></i></h4>

    <div class="card flex justify-center" style="display: flex; justify-content: center; ">
        <p-panel header="Header">
            <p class="m-0" style="margin: 0;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </p-panel>
    </div>

    <p-divider/>



    <!-- Show General stats cards of the assets in this porfolio -->
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">    
        <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
            <p-card header="Owner" [style]="{'width': '12rem'}">
                <p class="m-0" style="margin: 0;">
                    {{ portfolio()?.user?.firstName + ' ' + portfolio()?.user?.lastName }}
                </p>
                <ng-template #subtitle>
                    something
                </ng-template>
                <ng-template #footer>
                    something
                </ng-template>
            </p-card>
        </div>
        <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
            <p-card header="Simple Card" [style]="{'width': '12rem'}">
                <p class="m-0" style="margin: 0;">
                    Lorem ipsum dolor sit amet,
                </p>
            </p-card>
        </div>
        <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
            <p-card header="Simple Card" [style]="{'width': '12rem'}">
                <p class="m-0" style="margin: 0;">
                    Lorem ipsum dolor sit amet, consectetus
                </p>
            </p-card>
        </div>
        <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
            <p-card header="Simple Card" [style]="{'width': '12rem'}">
                <p class="m-0" style="margin: 0;">
                    Lorem ipsum dolor sit amet,
                </p>
            </p-card>
        </div>
        <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
            <p-card header="Simple Card" [style]="{'width': '12rem'}">
                <p class="m-0" style="margin: 0;">
                    Lorem ipsum dolor sit amet, consectetus
                </p>
            </p-card>
        </div>
        <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
            <p-card header="Simple Card" [style]="{'width': '12rem'}">
                <p class="m-0" style="margin: 0;">
                    Lorem ipsum dolor sit amet,
                </p>
            </p-card>
        </div>
        <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
            <p-card header="Simple Card" [style]="{'width': '12rem'}">
                <p class="m-0" style="margin: 0;">
                    Lorem ipsum dolor sit amet, consectetus
                </p>
            </p-card>
        </div>
    </div>

    <!-- detail table of all portfolio holding in the table -->

    <div class="card">
        <div>
            <h4>Table</h4>
        </div>
        <p-table
            [value]="products"
            showGridlines
            [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                    </tr>
                </ng-template>
                <ng-template #body let-product>
                    <tr>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.quantity }}</td>
                    </tr>
                </ng-template>
        </p-table>
    </div>
</div>