<div class="portfolio-details">
    <h4>My Portfolio {{ portfolioId()}}</h4>

    <div class="card flex justify-center" style="display: flex; justify-content: center; ">
        <p-panel header="Header">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </p-panel>
    </div>

    <p-divider/>


    <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
        <p-card header="Simple Card">
            <p class="m-0" style="margin: 0;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </p-card>
    </div>
    <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
        <p-card header="Simple Card">
            <p class="m-0" style="margin: 0;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </p-card>
    </div>
    <div class="mb-4 p-8" style="padding: 2rem; margin-bottom: 1rem; ">
        <p-card header="Simple Card">
            <p class="m-0" style="margin: 0;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
                quas!
            </p>
        </p-card>
    </div>
</div>