<div class="home" style="display: flex; flex-direction: column;">
    <!-- <app-header></app-header> -->
    <main class="main-content">
        <app-navbar></app-navbar>
        <div class="home-component">
            <app-assets-type/>
            <p-divider/>
            <app-users/>
            <p-divider/>
            <app-portifolio/>
            <p-divider/>
            <app-faq/>
        </div>
    </main>
    <p-divider/>
    <app-footer></app-footer>
</div>


<!-- <div style="display: flex; flex-direction: column; gap: 5px; padding: 8px;">
    <h1>Home</h1>
</div> -->