<!-- Update to use angular ng components -->
<app-header>
</app-header>
<div class="container">
    <h1>Home page</h1>
    <div class="container-fluid">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam repellat ducimus recusandae. Consectetur atque nobis nihil, quaerat vel, eaque sit assumenda perspiciatis asperiores repudiandae eum provident, sed voluptates qui esse.
    </div>
</div>

<div class="home">
    <app-navbar></app-navbar>
    <div class="component">

</div>
</div>