<div class="home" style="display: flex; flex-direction: column;">

    <main class="main-dummy-content">
        <app-navbar></app-navbar>
        <div class="dummy-component">

            <app-assets-type></app-assets-type>

            <p-divider></p-divider>

            <!-- <app-add-asset-type></app-add-asset-type> -->
            <!-- <p-divider></p-divider> -->

            <app-faq></app-faq>
            <p-divider></p-divider>

            <app-users></app-users>

        </div>
    </main>
    <app-footer></app-footer>
</div>