<div class="card flex justify-center gap-5 p-5"
    style="display: flex; flex-direction: column; gap: 24px; padding: 16px;">
    <h2>FAQ</h2>
    <p-accordion [value]="[0]" [multiple]="true">
        @for (tab of tabs; track tab.id) {
        <p-accordion-panel value={{tab.id}}>
            <p-accordion-header>
                {{ tab.title }}
            </p-accordion-header>
            <p-accordion-content>
                <p class="m-0">
                    {{ tab.content }}
                </p>
            </p-accordion-content>
        </p-accordion-panel>
        }
    </p-accordion>
</div>