<div>
    <h1>Assets Type {{ assetTypeId() }}</h1>

    <div style="display: flex; flex-direction: row; border: 2px solid rebeccapurple; width: 60%;">
        
        

        <div style="display: flex; flex-direction: column; ">

            @if (assetType()) {
                <div style="display: flex; width: 400px;">
                    ID: {{ assetType()?.id }}
                </div>
                <div style="display: flex; width: 400px;">        
                    Name: {{ assetType()?.name | uppercase }}
                </div>
                <div style="display: flex; width: 400px;">
                    CreatedDate: {{ assetType()?.createdDate | date:'dd/MM/YYYY' }}
                </div>
            
                <div style="display: flex; width: 400px;">
                    ModifiedDate: {{ assetType()?.modifiedDate | date:'long' }}
                </div>
            } @else {
                <h4>It is unavailable</h4>
            }
        </div>



    </div>
</div>


<div style="display: flex; flex-direction: column; justify-content: center; padding: 2rem; border: 1px solid var(--p-zinc-300); border-radius: 4px;">
    <div style="display: flex; ">
        <h4>
            Table
        </h4>
    </div>
    <p-table [value]="assets()" [tableStyle]="{'max-width': '60rem' }" responsiveLayout="stack">
        <ng-template #header>
            <tr>
                <th>id </th>
                <th>name </th>
                <th>startdate</th>
                <th>maturityDate</th>
                <th>numberOfDays</th>
            </tr>
        </ng-template>
    
        <ng-template #body let-asset>
            <tr>
                <td>{{asset.id}} </td>
                <td>{{asset.name}} </td>
                



                <td>{{asset.startDate}}</td>
                <td>{{asset.maturityDate}}</td>
                <td>{{asset.numberOfDays}}</td>
            </tr>
    
        </ng-template>
    </p-table>
</div>
